In [5]:
import pandas as pd

In [6]:
tips = pd.read_csv("tips.csv", index_col=0)

In [11]:
tips["sex"].loc[0] = "running wolves like to bees sea and saw"

C:\Users\andre\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [12]:
tips.head()

,total_bill,tip,sex,smoker,day,time,size
0,16.99,1.01,running wolves like to bees sea and saw,No,Sun,Dinner,2
1,10.34,1.66,Male,No,Sun,Dinner,3
2,21.01,3.50,Male,No,Sun,Dinner,3
3,23.68,3.31,Male,No,Sun,Dinner,2
4,24.59,3.61,Female,No,Sun,Dinner,4

### Lemmetizer (nltk)

In [1]:
from nltk.stem import WordNetLemmatizer

In [14]:
lem = WordNetLemmatizer()

In [26]:
def tokenize_lem(sentence):
    outlist= []
    token = sentence.split()
    for tok in token:
        outlist.append(lem.lemmatize(tok))
    return " ".join(outlist)

In [27]:
tips["lem"] = tips["sex"].apply(tokenize_lem)

In [28]:
tips.head()

,total_bill,tip,sex,smoker,day,time,size,lem
0,16.99,1.01,running wolves like to bees sea and saw,No,Sun,Dinner,2,running wolf like to bee sea and saw
1,10.34,1.66,Male,No,Sun,Dinner,3,Male
2,21.01,3.50,Male,No,Sun,Dinner,3,Male
3,23.68,3.31,Male,No,Sun,Dinner,2,Male
4,24.59,3.61,Female,No,Sun,Dinner,4,Female

## TFIDIF

In [42]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [43]:
tfidf = TfidfVectorizer()

In [45]:
vectorised = tfidf.fit_transform(tips["lem"])

In [51]:
print(vectorised[:3])

  (0, 6)	0.35355339059327373
  (0, 0)	0.35355339059327373
  (0, 7)	0.35355339059327373
  (0, 1)	0.35355339059327373
  (0, 8)	0.35355339059327373
  (0, 3)	0.35355339059327373
  (0, 9)	0.35355339059327373
  (0, 5)	0.35355339059327373
  (1, 4)	1.0
  (2, 4)	1.0

In [ ]:
### Back to Dataframe

In [54]:
print(tfidf.get_feature_names())

['and', 'bee', 'female', 'like', 'male', 'running', 'saw', 'sea', 'to', 'wolf']

In [57]:
vectorised.toarray()

array([[0.35355339, 0.35355339, 0.        , ..., 0.35355339, 0.35355339,
        0.35355339],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ]])

In [58]:
pd.DataFrame(data = vectorised.toarray() , columns=tfidf.get_feature_names())

,and,bee,female,like,male,running,saw,sea,to,wolf
0,0.353553,0.353553,0.0,0.353553,0.0,0.353553,0.353553,0.353553,0.353553,0.353553
1,0.000000,0.000000,0.0,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.0,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.0,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,1.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
239,0.000000,0.000000,0.0,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000
240,0.000000,0.000000,1.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
241,0.000000,0.000000,0.0,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000
242,0.000000,0.000000,0.0,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000
243,0.000000,0.000000,1.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000